html, body {
  height: 100%;
  width: 100%;
  margin : 10px;
  padding : 0;
}


input, select{
  margin-right: 10px;
}

.flex{
  display : flex;
}

.flex-col{
  flex-direction : column;
}

.hor-center{
  justify-content: center;
}

.ver-center{
  align-items: center; 
}

.center-text{
  text-align : center;
  overflow-wrap: break-word;
  padding: 3% 10% 3% 10%;
}